.tasks-container {
    backdrop-filter: blur(20px);
    display: flex;
    border: 2px solid rgb(255,255,255,0.5);
    color: #162938;
    margin: 20px auto;
    border-radius: 6px;
    padding: 20px;
}

.text-box p {
    width: 100%;
    line-break: anywhere;
    margin-left: 10px;
}

.text-box h1 {
    font-size: 1.5em;
}

.task-wrapper {
    width: 100%;
}

.date-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    justify-content: flex-end;
    line-break: anywhere;
}

.date-wrapper h3 {
    margin-right: 5px;
}

@media (max-width: 428px)
{
    .date-wrapper {
        display: block;
    }
}