.title, .desc, .addBtn, .date {
    margin: 0 10px;
}

.act {
    margin: 0 auto;
    align-items: center;
    width: 50em;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}