@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  font-family: 'Tilt Neon', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}